# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# MyPy
.mypy_cache/
.dmypy.json

# PyInstaller
*.spec